* {
  font-family: "Montserrat", sans-serif;
  line-height: 1.3rem;
  font-weight: 200;
  box-sizing: border-box;
}

body {
  background-image: url("../imgs/mountain_blur.jpg") !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: local;
}

#header {
  background-image: url("../imgs/stripe_20.png");
  background-repeat: repeat-x;
  background-size: 1.5rem;
  background-color: #fff;
}

#links {
  margin: 1rem 0 0 0;
}

#links a {
  text-decoration: none;
}

#links a:hover {
  text-decoration: underline;
}

#header,
#education,
#work,
#language {
  padding: 3rem 3rem 3rem 5rem;
}

#content {
  margin: 0 auto;
  padding: 5rem;
  min-width: 500px;
  max-width: 1200px;
}

#content h1 {
  font-size: 36px;
  padding-bottom: 3rem;
  padding-top: 3rem;
}

#content h2 {
  font-size: 24px;
  padding-bottom: 3rem;
}

#content p {
  font-size: 18px;
  line-height: 1.7rem;
  text-align: left;
}

#content a {
  color: #828282;
}

#education {
  background-color: #f2f2f2;
}

#language {
  background-color: #f2f2f2;

  background-image: url("../imgs/stripe_20.png");
  background-repeat: repeat-x;
  background-size: 1.5rem;
  background-position-y: 100%;

  box-shadow: 0px 5px 5px #00000040;
}

#work {
  background-color: #fff;
}

@media only screen and (max-width: 640px) {
  #content {
    padding: 0;
  }

  #header,
  #education,
  #work,
  #language {
    padding: 3rem 1rem 3rem 2rem;
  }
}
